<li>
    {{name}}

    <button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
        {{#if devoured}}It is ready{{else}}reorder?{{/if}}
    </button>

    <button class="delete-cat" data-id="{{this.id}}">DELETE!</button>
</li>